<div class="row">
<div class="large-12 columns">
</div>
<div class="large-10 columns">

<p><%= @user.email %></p>
<div class="button-bar">
<ul class="button-group radius">

<li><%= link_to "Profilimi Düzenle", edit_user_path(@user) %></li>
</ul>
</div>
</div>
</div>

