
 @import "bootstrap";
 

 $black: #2E2F34;
 $red: #BA3434;
 $blue: #3148A0;
 $white: #fafafa;

h1,h2,h3,h4,h5,h6,a,p {
    font-family: 'Raleway', sans-serif;
}
body {
    padding-bottom: 60px;
    overflow-x: hidden;
    .notice {text-align: center; color: $blue;}
    .alert {text-align: center; color: $red;}
}
.navbar-default {
    background: $white;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding: 10px;
    img {
        margin:auto; 
        height: 100%;
        &.brand-logo {
            display: block;
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        &.brand-icon {
            display: none;
            @media screen and (max-width: 900px) {
                display: block;
            }
        }
    }
}
.navbar-toggle {
    z-index:3;
}
.category {
    overflow: hidden;
    .desc {
        text-align: center;
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
        h4 {color: $white;}
    }
}
